.faq-container
{
    text-align: center;
}

.faq-container > div > div
{
    border: 1px dashed grey;
}

.row
{
    /*padding-bottom:15px;*/
}

.row > div
{
    min-height:200px;
}

h4
{
    font-weight: bold;
}