<div class="faq-container">

<div class="row row-white">
  <div class="col-lg-4 col-xs-12">
    <div class="title">
      <h4>How often do students take lessons?</h4>
    </div>
    <div class="text">
      <p>
        To get the most out of your lessons, we recommend that you take at least one lesson per week. We believe that everyone learns at their own pace, so it is completely up to you how many lessons you would like to take each month. Most students start with 4 lessons per month, but some take only 2 while others take 8 or more lessons per month. You always have the option to change the frequency of your lessons as you go along.
      </p>
    </div>
  </div>
  <div class="col-lg-4 col-xs-12">
     <div class="title">
        <h4>What is your cancellation policy?</h4>
      </div>
      <div class="text">
        <p>
          At Orange County Music School School, you are not bound by any long-term commitments and with proper notification, you can cancel your lessons at any time. For new students, if you want to stop after your first lesson, please contact us within 72 hours of the first lesson and you will not be billed. For currently enrolled students, please let us know before the 25th of the month, in order to cancel lessons from the next month.
        </p>
      </div>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div class="title">
        <h4>How do I know my instructor is qualified?</h4>
      </div>
      <div class="text">
        <p>
          All of our instructors have degrees in music and several years of teaching experience. Please ask for more information when you call us, and we'll be happy to share the details with you.
        </p>
      </div>
  </div>
</div>

<div class="row row-beige">
  <div class="col-lg-6 col-xs-12">
    <div class="title">
        <h4>How much do you charge for lessons?</h4>
      </div>
      <div class="text">
        <p>
          All lesson rates vary depending on the length of the lesson and the number of lessons taken per month by you and your family. Please call or email us and we'll be happy to provide you with an exact cost based on your specific requirements.
        </p>
      </div>
  </div>
  <div class="col-lg-6 col-xs-12">
    <div class="title">
        <h4>Do you offer a free trial lesson?</h4>
      </div>
      <div class="text">
        <p>
          Yes, we offer one free introductory lesson per family. Please call or email and we can schedule one for you.
        </p>
      </div>
  </div>
</div>

<div class="row row-white">
  <div class="col-lg-4 col-xs-12">
    <div class="title">
        <h4>Can I speak with the instructor before I book the lesson?</h4>
      </div>
      <div class="text">
        <p>
          Absolutely. Just call (714) 573-1449 and ask for Stella Kotova.
        </p>
      </div>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div class="title">
        <h4>How do I choose between private and group lessons?</h4>
      </div>
      <div class="text">
        <p>
          That really depends on the age and experience level of the student, and what they are trying to accomplish. Feel free to call and talk to us, we'll be happy to help you with the decision. Both private and group lessons have their own advantages, so it really depends on your specific requirements.
        </p>
      </div>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div class="title">
        <h4>How and when do I pay for the lesson?</h4>
      </div>
      <div class="text">
        <p>
          Fees are paid monthly, at the beginning of each month. You can mail us a check, or pay during your first lesson of the month.
        </p>
      </div>
  </div>
</div>

<div class="row row-beige">
  <div class="col-lg-6 col-xs-12">
    <div class="title">
        <h4>Do I need to have my own instrument?</h4>
      </div>
      <div class="text">
        <p>
          For your first lesson, we recommend you use the instructor's instrument so you can make sure you want to continue with the lessons. If you decide to continue with lessons, you should get your own instrument as soon as possible, so you can practice at home. Your instructor will be able to make some recommendations. For students taking piano lessons, you will need a full-sized keyboard with at least 5 octaves, a digital piano, or preferably a well tuned upright or grand piano.
        </p>
      </div>
  </div>
  <div class="col-lg-6 col-xs-12">
    <div class="title">
        <h4>What is your rescheduling policy?</h4>
      </div>
      <div class="text">
        <p>
          We are very flexible, and we ask that you give us as much advance notice as possible in order to reschedule your lesson.
        </p>
      </div>
  </div>
</div>

<div class="row row-white">
  <div class="col-lg-4 col-xs-12">
<div class="title">
        <h4>What ages of students can enroll in lessons?</h4>
      </div>
      <div class="text">
        <p>
          We accept students ages 4 and up for most lessons. Based on the age and experience of the student, we will do our best to place them with a qualified instructor who will meet their specific needs.
        </p>
      </div>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div class="title">
        <h4>Where are you located?</h4>
      </div>
      <div class="text">
        <p>
          In the city of Tustin, CA. Please see the contact page for more information.
        </p>
      </div>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div class="title">
        <h4>Do you offer family discounts?</h4>
      </div>
      <div class="text">
        <p>
          No, but we keep our prices low for everyone. Our prices are almost always lower than that of any other music school or music instructor in the area.
        </p>
      </div>
  </div>
</div>

</div>