.faq-container
{
    text-align: center;
}

.row
{
    /*padding-bottom:15px;*/
}

.row > div
{
    min-height:200px;
}

.row-white > div:nth-child(odd)
{
    background-color:#f5f5f5;
}

.row-beige
{
    background-color:#f5f5f5;
}

h4
{
    font-weight: bold;
}