<h1>About Orange Country Music School</h1>

<div class="container">
<!-- Row 1 -->
<div class="row">
  <div class="col-lg-12">
    <img class="IL-image-left" src="../../assets/photos/aboutImage.jpg" />
    <p>
      We are a music school that offers comprehensive instruction in both theory and practice. You can also get private lessons, including private lessons from an Academy teacher right in your own home. All ages, from small children to senior citizens, are welcomed and taught if they wish to learn music. Whether you are a beginner, intermediate, or advanced music student, Orange County Music School School can help you become better.
    </p>
    <p>
      Recitals and concerts are held at least twice a year to provide students with confidence-building performance experience. Theory classes are taught in preparation for exams of all levels concerning theory, history, harmony, counterpoint, and analysis. Full training is offered in repertoire, composition, performance technique, ear training, and sight-reading to prepare classical students for the Certificate of Merit Exam.
    </p>
  </div>
</div>
<!-- Row 2 -->
<div class="row">
  <h3>Why We Recommend Group Lessons for Young Beginners</h3>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>
      A group setting provides excitement, friends, and inspiration during the first 2-3 difficult years of piano/keyboard lessons. After completing the class, we encourage students to continue private lessons with the instructor of their choice.
    </p>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <h5>Listening</h5>
        <p>
          Playing music in a group helps students learn to listen and stay together with the group.
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <h5>Rhythm</h5>
        <p>
          Working in a group helps students strengthen rhythm skills.
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <h5>Solfege</h5>
        <p>
          When we sing the solfege (do, re, mi) syllables while reading notes or playing the keyboard, we develop a strong sense of tonality and relative pitch.
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <h5>Reading</h5>
        <p>
          Reading music is a separate activity from performing on the keyboard, and includes using tools such as music flash cards and "secret" ways of learning the notes that make it fun and easy.
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <h5>Performing</h5>
        <p>
          Students perform every piece by memory in front of the class, thus preparing to perform in the recitals at an early age.
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <img src="../../assets/photos/aboutImage2.jpg" />   
      </div> 
    </div>
  </div>
</div>
<!-- Row 3 -->
<div class="row">
  <div class="col-lg-6 col-xs-12">
    <img class="IL-image-left" src="../../assets/photos/aboutMission.jpg" />  
    <p>
      To provide the highest quality of music education to all individuals who have a desire to learn, in an environment that nurtures curiosity, creativity and achievement. 
    </p>
  </div>
  <div class="col-lg-6 col-xs-12">
    <h5>E-mail for more information:</h5> 
     <img class="IL-image-left" src="../../assets/photos/aboutScheduling.jpg" />  
    <p>
      <a href="mailto:info@orangecountymusicschool.com" target="_top">Email Us</a> and ask how you can receive a free introductory lesson. Click here to see the music lessons calendar.
    </p>
   
  </div>
</div>

</div>