<div class="container">
    <h3>Individual & Group Lessons for Children & Adults in Tustin</h3>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img id="home-message-img" src="../../assets/photos/Home-Teaching.jpg" />
            <p style="font-size: 18px">
                I am an active member of the Music Teachers Association of California (MTAC) and have a masters degree in piano performance. I am an award winning teacher and have worked with numerous children of all ages and adults over the past 25 years. I offer private and small group lessons at my studio in Tustin, CA. Lessons include rhythm, harmony and theory training, reading music and of course playing the piano. Piano recitals are held twice a year and Certificate of Merit program enrollment and training is available. Fast progress, fun learning and a great attitude is guaranteed.
            </p>
        </div>
    </div>
</div>