<!--<h1>
  {{title}}
</h1>-->

<!--<alert type="success">hello</alert>-->
<nav class="navbar navbar-default navbar-fixed-top my-navbar" role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./Index.html">Stadtfestlauf</a>
        </div>
        <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav">
                <li><a routerLink="/home" [routerLinkActive]="['active']">Home</a></li>
                <li><a routerLink="/about" [routerLinkActive]="['active']">About</a></li>
                <li><a routerLink="/gallery" [routerLinkActive]="['active']">Gallery</a></li>
                <li><a routerLink="/teachers" [routerLinkActive]="['active']">Teachers</a></li>
                <li><a routerLink="/faq" [routerLinkActive]="['active']">FAQ</a></li>
                <li><a routerLink="/testimonials" [routerLinkActive]="['active']">Testimonials</a></li>
                <li><a routerLink="/resources" [routerLinkActive]="['active']">Resoruces</a></li>
                <li><a routerLink="/contact" [routerLinkActive]="['active']">Contact</a></li>
                <li><a *ngIf="isLoggedIn" (click)="logout()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isLoggedIn"><a href='/'>{{ displayName }}</a></li>
                <li><a *ngIf="!isLoggedIn" (click)="login()">Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
