<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="home-testimonial">
                <img class="quote-left quote" src="../../assets/photos/quotesleft.png" /> <p class="testimonial-text">My husband Marion and I enjoyed hearing your students entertain during the event for Mayor Steven Choi at the Momentous Sports Center on November 1. Both of my granddaughters have studied piano, so I have an appreciation for the effort that is required to learn to play well. </p>
                <img class="quote-right quote" src="../../assets/photos/quotesright.png" />
                <span class="testimonial-author">Sherri (Miller) Butterfield</span>
                <span class="testimonal-job">, Writer and Editor</span>
                <span class="testimonial-date">November 2016 </span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <iframe id="home-video" class="img-responsive" style="display:block; margin:auto;" width="560" height="315" src="https://www.youtube.com/embed/xnYHZRL9Q28" 
                frameborder="0" allowfullscreen>
            </iframe>
        </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             <div class="home-testimonial">
                  <img class="quote-left quote" src="../../assets/photos/quotesleft.png" /> <p class="testimonial-text"> My daughter has been taking lesson since July 2012... I am amazed how much she has learned in just a short amount of time. I am even more surprised how much she looks forward to lessons. Decision to go with OC Music School has been the best. There are professional pianists who can play but there are those who can play AND teach. I believe Stella has the ability to do just that. Her teaching method makes it fun and encourages the students to love playing the piano. </p>
                <img class="quote-right quote" src="../../assets/photos/quotesright.png" />
                <span class="testimonial-author">Ruth T</span>
                <span class="testimonal-job"></span>
                <span class="testimonial-date">January 2013</span>
            </div>
        </div>
    </div>
</div>