.container
{
    text-align: center;
}

.tile-container
{
    display:inline-block;
    text-align:center;
}

.tile-img
{
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: -3px 3px 4px #888888;
    padding: 3px;
}

.tile-img img
{
    height:60px;
    width:60px;
}