<h3>Try lessons with some of our popular musical instruments</h3>

<div class="container">
<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Piano')">
      <div class="tile-img">
        <img src="../../assets/photos/piano.jpg" />
      </div>
      <div class="tile-text">
        <span>Piano</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Guitar')">
      <div class="tile-img">
        <img src="../../assets/photos/guitar.jpg" />
      </div>
      <div class="tile-text">
        <span>Guitar</span>
      </div>
    </div>
  </div>
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Violin')">
      <div class="tile-img">
        <img src="../../assets/photos/violin.jpg" />
      </div>
      <div class="tile-text">
        <span>Violin</span>
      </div>
    </div>
  </div>
   <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
     <div class="tile-container" (click)="onClick('Flute')">
      <div class="tile-img">
        <img src="../../assets/photos/flute.jpg" />
      </div>
      <div class="tile-text">
        <span>Flute</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Clarinet')">
      <div class="tile-img">
        <img src="../../assets/photos/clarinet.jpg" />
      </div>
      <div class="tile-text">
        <span>Clarinet</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Saxophone')">
      <div class="tile-img">
        <img src="../../assets/photos/saxophone.jpg" />
      </div>
      <div class="tile-text">
        <span>Saxophone</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Trumpet')">
      <div class="tile-img">
        <img src="../../assets/photos/trumpet.jpg" />
      </div>
      <div class="tile-text">
        <span>Trumpet</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Viola')">
      <div class="tile-img">
        <img src="../../assets/photos/viola.jpg" />
      </div>
      <div class="tile-text">
        <span>Viola</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Trombone')">
      <div class="tile-img">
        <img src="../../assets/photos/trombone.jpg" />
      </div>
      <div class="tile-text">
        <span>Trombone</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Cello')">
      <div class="tile-img">
        <img src="../../assets/photos/cello.jpg" />
      </div>
      <div class="tile-text">
        <span>Cello</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Percussion')">
      <div class="tile-img">
        <img src="../../assets/photos/percussion.jpg" />
      </div>
      <div class="tile-text">
        <span>Percussion</span>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
    <div class="tile-container" (click)="onClick('Double Bass')">
      <div class="tile-img">
        <img src="../../assets/photos/doublebass.jpg" />
      </div>
      <div class="tile-text">
        <span>Double Bass</span>
      </div>
    </div>
  </div>
</div>
</div>

<br/>
<div class="row" style="text-align: center">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" (click)="onClick('Tell us what you\'d like to play!')">
    <p>Other instruments available on request.</p>
  </div>
</div>
