h2
{
    text-align: center;
}

.teachers
{
    text-align:center;
    border-right:1px solid grey;
}

.teacher img
{
    height:200px;
    width:250px;
    border:1px solid black;
    border-radius:5px;
    margin:10px 10px;    
}

.info
{
}

.first-time
{
    text-align: center;
    margin-top:60px;
}
