<div class="row">
  <div class="test-sup-container" *ngFor="let test of testimonials | async">
      <div class="testimonial-container">
          <img class="quote-left quote" src="../../assets/photos/quotesleft.png" /> 
          <p class="testimonial-text">
            {{test.text}}
          </p>
          <img class="quote-right quote" src="../../assets/photos/quotesright.png" />
          <span class="testimonial-author">
            {{test.author}}
          </span>
          <span class="testimonal-job">
            {{test.date}}
          </span>
          <span class="testimonial-date">January 2013</span>
      </div>
    </div>
</div>