
<div class="container-fluid" style="padding:0px;">
    <div class="row" style="margin:0px; padding:0px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
            <div class="home-img-container">
                <div class="overlay">
                    <h1 class="home-img-title">
                        Hello and welcome to OCMS!
                    </h1>
                    <h5 class="home-img-text">
                        Music Education in the Finest European Traditions
                    </h5>
                </div>
                <app-announcements class="component med-hide announcements-upper"></app-announcements>
            </div>
            
        </div>
    </div>
</div>

<div class="row" style="background-color: #fff;">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-home-message class="component"></app-home-message>
     </div>
</div>
<div class="row" style="background-color: #f5f5f5;">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-home-instrument-list class="component"></app-home-instrument-list>
     </div>
</div>
<div class="row" style="background-color: #fff;">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-home-video class="component"></app-home-video>
     </div>
</div>
<div id="mailingListRow" class="row" style="background-color: #f5f5f5;">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-mailing-list class="component"></app-mailing-list>
     </div>
</div>
<div class="row" style="background-color: #fff;">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-announcements class="component med-show announcements-lower"></app-announcements>
     </div>
</div>


<!--
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <app-home-message class="component"></app-home-message>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <app-home-video class="component"></app-home-video>
            </div>
             <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <app-home-instrument-list class="component"></app-home-instrument-list>
            </div>
        </div>
    </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
         <app-mailing-list class="component"></app-mailing-list>
         <app-announcements class="component med-show announcements-lower"></app-announcements>
    </div>
</div>-->

<!--<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <app-home-message class="component"></app-home-message>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <app-announcements class="component"></app-announcements>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <app-home-video class="component"></app-home-video>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <app-home-instrument-list class="component"></app-home-instrument-list>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <app-mailing-list class="component"></app-mailing-list>
    </div>
</div>

<app-testimonials></app-testimonials>-->






