:host >>> h3
{
  text-align: center;
}

:host >>> .announcements-upper .announcements-container
{
  position:absolute;
  right: 30px;
  top: 0;
  display: inline-block;
  border: 3px solid black;
  padding: 10px;
  height: 490px;
  background: whitesmoke;
}

:host >>> .announcements-lower .announcements-container
{
  position: inherit;
  /*right: 30px;
  top: 0;*/
  display: inline-block;
  /*border: 3px solid black;*/
  padding: 10px;
  height: 490px;
  /*background: whitesmoke;*/
}

.component {
  /*border: 1px solid blue;*/
  padding: 5px;
  display:block; 
  margin: 30px 30px;
}

.home-img-container
{
  position:relative;
  display: table;
  background: url('../../assets/photos/fullpiano.jpg') no-repeat top center ;
  width:100%;
  opacity: .6;
  height:500px;
  max-height:500px;
  background-size: 100% auto;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0 ,0.9), 0px 0px 10px rgba(0, 0, 0 ,0.9);
  font-size: 26px;
}

.overlay
{
  display: table-cell;
  vertical-align: middle;
}

.overlay h1.home-img-title
{
  text-align: center;
  font-size: 165%;
  font-weight: lighter;
  line-height: 2;
  padding: 0 10%;
}

h5.home-img-text
{
  text-align: center;
  font-weight: lighter;
  line-height: 2;
  padding: 0 10%;
}

